h2 {
  text-align: center;
  padding: 20px;
  margin: 0px;
}

img {
  display: block;
  margin: 10px auto;
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

mat-nav-list {
  a {
    height: 30px;
  }
}
