<div class="box">
  <div class="boxheader">Agenda</div>
  <div class="boxcontent">

  <mat-table #table [dataSource]="dataSource" class="mat-cell">

    <ng-container matColumnDef="Datum">
      <mat-header-cell *matHeaderCellDef>Datum</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.Datum }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Tijd">
      <mat-header-cell *matHeaderCellDef class="hideonmobile col10">Tijd</mat-header-cell>
      <mat-cell *matCellDef="let element" class="hideonmobile col10"> {{ element.Tijd }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="EvenementNaam">
      <mat-header-cell *matHeaderCellDef  class='col40'>EvenementNaam</mat-header-cell>
      <mat-cell *matCellDef="let element" class='col40'> {{ element.EvenementNaam }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Lokatie">
      <mat-header-cell *matHeaderCellDef class="hideonmobile col20">Lokatie</mat-header-cell>
      <mat-cell *matCellDef="let element" class="hideonmobile col20"> {{ element.Lokatie }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Organisatie">
      <mat-header-cell *matHeaderCellDef class="hideonmobile col10">Organisatie</mat-header-cell>
      <mat-cell *matCellDef="let element" class="hideonmobile col10">{{ getOrganisatie(element.Extra1) }} </mat-cell>
    </ng-container>


    <!-- actions -->
    <ng-container matColumnDef="actions3">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="onAdd()">
          <mat-icon aria-label="Add icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="primary" (click)="onEdit(i)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="onCopy(i)">
          <mat-icon aria-label="Duplicate">playlist_add</mat-icon>
        </button>
        <button mat-icon-button color="warn">
          <mat-icon aria-label="Delete" (click)="onDelete(i)">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let row; index as i; columns: columnsToDisplay;" (dblclick)="onDblclick($event, i)"></mat-row>
  </mat-table>
</div>
</div>
