<div class="flexcontainer">
  <div style="flex-basis: 65%;">
    
    <mat-card>
      <form [formGroup]="mailForm" novalidate>
        <mat-card-header>
          <mat-card-title>Mail bericht</mat-card-title>
        </mat-card-header>
        <mat-card-content>

            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-evenly start">
              <div fxFlex="0 0 30%">
                <mat-form-field>
                  <mat-select placeholder="Bewaarde mails" formControlName="SavedMails"
                    (selectionChange)="onMailNameChanged($event)">
                    <mat-option *ngFor="let item of savedMailNames.MailNameItems" [value]="item">{{item}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div fxFlex="0 0 66%">
                <div fxLayout="column">

                  <mat-form-field>
                    <input matInput type="text" placeholder="Naam mail" formControlName="EmailName"
                      [formControl]="EmailName">
                    <mat-error *ngIf="EmailName.hasError('required')">
                      Veld is verplicht
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field class="EmailSubject">
                    <input matInput type="text" placeholder="Onderwerp" formControlName="EmailSubject"
                      [formControl]="EmailSubject">
                    <mat-error *ngIf="EmailSubject.hasError('required')">
                      Veld is verplicht
                    </mat-error>
                  </mat-form-field>

                  <angular-editor formControlName="HtmlContent" [config]="editorConfig"
                    [placeholder]="'Enter text here...'"></angular-editor>

                </div>
              </div>

            </div>
          </mat-card-content>

          <mat-card-actions>
          <button mat-raised-button color="primary" (click)='onSaveEmail()'
            [disabled]='!mailForm.valid'>Save</button>
          <button mat-raised-button color="primary" (click)='onDeleteMail()'>Delete</button>
        </mat-card-actions>

      </form>
    </mat-card>
<br>
    <div class="flexcontainer" style="justify-content: space-between;">
      <mat-card style="flex-basis: 48%;">
        <mat-card-header>
          <mat-card-title>Verstuur Mail</mat-card-title>
        </mat-card-header>
        <form [formGroup]="mailboxparamForm" novalidate>
          <mat-card-content>

            <button mat-raised-button color="primary" (click)="onSendMail($event)" [disabled]='itemsToMail.length == 0'
              matBadge={{itemsToMail.length}} matBadgePosition="after" matBadgeColor="warn">Verzend mail</button>
          </mat-card-content>
        </form>
      </mat-card>
      <mat-card style="flex-basis: 48%;">
        <mat-card-header>
          <mat-card-title>Selectie</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <mat-checkbox [(ngModel)]="ckbVolwassenen" (change)="onChangeckbVolwassenen($event)" color='primary'
            class='margin-right-20'>Volwassenen
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="ckbJeugd" (change)="onChangeckbJeugd($event)" color='primary'>
            Jeugd</mat-checkbox>
        </mat-card-content>
      </mat-card>
    </div>

  </div>


  <mat-card style="flex-basis: 30%;">
    <mat-card-header>
      <mat-card-title>Leden</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-table #table [dataSource]="dataSource" class="mat-cell">

        <ng-container matColumnDef="actions1">
          <mat-header-cell *matHeaderCellDef>select</mat-header-cell>
          <mat-checkbox (change)="$event ? masterToggle() : null" color='primary'
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="onCheckboxChange($event, row)" color='primary'
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Naam">
          <mat-header-cell *matHeaderCellDef>Naam</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.Naam}}</mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>
    </mat-card-content>
  </mat-card>
</div>