@use "src/mixins.scss" as s;

.mat-column-Naam {
  @include s.mat-text-column-wrap-stuff;
  flex: 0 0 80% !important;
  width: 80% !important;
}

.mat-badge-content {
  background: red;
  // color: green;
}

#EmailSubject {
  width: 70%;
}

#EmailName {
  margin-right: 20px;
}