<div class="boxcontainer">
  <div fxLayout="column" style='margin-right: 10px;'>
    <div class="box">
      <form [formGroup]="mailForm" novalidate>

        <div class="boxheader">Mail bericht</div>
        <div class="boxcontent">
          <mat-dialog-content>
            <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-evenly start">
              <div fxFlex="30">
                <mat-form-field class="mat-form-max-width">
                  <mat-select placeholder="Bewaarde mails" formControlName="SavedMails"
                    (selectionChange)="onMailNameChanged($event)">
                    <mat-option *ngFor="let item of savedMailNames.MailNameItems" [value]="item">{{item}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div fxFlex="66">

                <mat-form-field style="width: 50%">
                  <input matInput type="text" placeholder="Naam mail" formControlName="EmailName"
                    [formControl]="EmailName">
                  <mat-error *ngIf="EmailName.hasError('required')">
                    Veld is verplicht
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="mat-form-max-width">
                  <input matInput type="text" placeholder="Onderwerp" formControlName="EmailSubject"
                    [formControl]="EmailSubject">
                  <mat-error *ngIf="EmailSubject.hasError('required')">
                    Veld is verplicht
                  </mat-error>
                </mat-form-field>

                <!-- <mat-form-field class="mat-form-max-width">
                  <textarea matInput type="text" placeholder="Email tekst" formControlName="TypeYourMail"
                    [formControl]="TypeYourMail" matTextareaAutosize matAutosizeMinRows='5'></textarea>
                  <mat-error *ngIf="TypeYourMail.hasError('required')">
                    Veld is verplicht
                  </mat-error>
                </mat-form-field> -->
                <angular-editor formControlName="HtmlContent" [config]="editorConfig" [placeholder]="'Enter text here...'"></angular-editor>
                <!-- <mat-form-field class="mat-form-max-width">
                  <angular-editor formControlName="htmlContent" [formControl]="TypeYourMail" [config]="editorConfig"></angular-editor>
                </mat-form-field> -->
              </div>

            </div>
          </mat-dialog-content>
        </div>
        <div class="boxbottom">
          <button mat-raised-button class='box-bottom-button' color="primary" (click)='onSaveEmail()'
            [disabled]='!mailForm.valid'>Save</button>
          <button class='box-bottom-button' mat-raised-button color="primary" (click)='onDeleteMail()'>Delete</button>
        </div>

      </form>
    </div>

    <div class="boxcontainer" style="justify-content: space-between;">
      <div class="box" style="flex-basis: 48%;">
        <!-- <mat-card *ngIf='!mailServiceIsOkay' style='background:red;font-size:18px;font-weight:500;color:white;margin-bottom: 20px;'>
          Mail server niet aanwezig, bel Wim
        </mat-card> -->
        <div class="boxheader">Verstuur Mail</div>
        <form [formGroup]="mailboxparamForm" novalidate>
          <div class="boxcontent">
            <button mat-raised-button color="primary" (click)="onSendMail($event)" class="alternative"
              [disabled]='itemsToMail.length == 0' matBadge={{itemsToMail.length}} matBadgePosition="after"
              matBadgeColor="accent">Verzend mail</button>
          </div>
        </form>
      </div>
      <div class="box" style="flex-basis: 48%;">
        <div class="boxheader">Selectie</div>
        <div class="boxcontent">
          <mat-checkbox [(ngModel)]="ckbVolwassenen" (change)="onChangeckbVolwassenen($event)" color='primary'
            class='margin-right-20'>Volwassenen
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="ckbJeugd" (change)="onChangeckbJeugd($event)" color='primary'>
            Jeugd</mat-checkbox>
        </div>
      </div>
    </div>

  </div>


  <div class="box" style="flex-basis: 30%;">
    <div class="boxheader">Leden</div>
    <div class="boxcontent">
      <mat-table #table [dataSource]="dataSource" class="mat-cell">

        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>select</mat-header-cell>
          <mat-checkbox (change)="$event ? masterToggle() : null" color='primary'
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
          </mat-checkbox>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="onCheckboxChange($event, row)" color='primary'
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Naam">
          <mat-header-cell *matHeaderCellDef>Naam</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.Naam}}</mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>
    </div>
  </div>
</div>

