@use "src/styles.module.scss" as s;

.mat-column-StartDate {
    @include s.mat-text-column-wrap-stuff;
    flex: 0 0 80px !important;
    width: 80px!important;
}

.mat-column-EndDate {
    @include s.mat-text-column-wrap-stuff;
    flex: 0 0 80px !important;
    width: 80px!important;
}

.mat-column-Header{
    @include s.mat-text-column-wrap-stuff;
}
