<div fxLayout='row' fxLayoutAlign="space-evenly start">
  <div fxFlex='70'>
    <div class="box">
      <div class="boxheader">Website mededelingen</div>
      <div class="boxcontent">

        <mat-table #table [dataSource]="dataSource" class="mat-cell">

          <ng-container matColumnDef="StartDate">
            <mat-header-cell *matHeaderCellDef> Vanaf </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.StartDate}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="EndDate">
            <mat-header-cell *matHeaderCellDef> Tot en met </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ element.EndDate }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Header">
            <mat-header-cell *matHeaderCellDef fxFlex="none"> Onderwerp </mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="none"> {{ element.Header }} </mat-cell>
          </ng-container>

          <!-- actions -->
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
              <button mat-icon-button color="primary" (click)="onAdd()">
                <mat-icon aria-label="Add icon">add</mat-icon>
              </button>
            </mat-header-cell>

            <mat-cell *matCellDef="let row; let i=index;">
              <button mat-icon-button color="primary" (click)="onEdit(i)">
                <mat-icon aria-label="Edit">edit</mat-icon>
              </button>
              <button mat-icon-button color="warn">
                <mat-icon aria-label="Delete" (click)="onDelete(i)">delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
          <mat-row *matRowDef="let row; index as i; columns: columnsToDisplay;" (dblclick)="onDblclick($event, i)">
          </mat-row>
        </mat-table>
      </div>
    </div>
  </div>
</div>