@media (max-width:601px) {
    .mat-column-Naam {
      padding-left: 5px !important;
    }
    .mat-column-VrijwilligersKorting {
        padding-right: 5px !important;
    }
}

.colCheckbox {
    flex: 0 0 15% !important;
    width: 15% !important;
}