  .tab-group {
  height: 470px;
  // margin: 10px 10px 0px;
  padding: 0px 10px;
}

::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
  min-width: 0!important;
  padding: 3px!important;
  margin: 3px!important;
 }

#tab {
  margin: 10px 0px 10px 10px !important; 
}