<mat-card>
  <mat-card-header>
    <mat-card-title>Kopje pagina</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-a2hs></app-a2hs>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" type="button" class='box-bottom-button'>Maak Incasso bestand</button>
    <button mat-raised-button color="primary" type="button" class='box-bottom-button'>Maak Rekening bestand</button>
    <button mat-raised-button color="primary" type="button" class='box-bottom-button'>Maak Overigen bestand</button>
    <button mat-raised-button color="secondary" type="button" class='box-bottom-button'>Maak berekening
      overzicht</button>
  </mat-card-actions>
</mat-card>

<app-a2hs></app-a2hs>