<mat-card>
  <mat-card-header>
    <mat-card-title>Kopje pagina</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-a2hs></app-a2hs>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Maak Incasso bestand</button>
    <button mat-raised-button color="primary">Maak Rekening bestand</button>
    <button mat-raised-button color="primary">Maak Overigen bestand</button>
    <button mat-raised-button color="secondary">Maak berekening overzicht</button>
  </mat-card-actions>
</mat-card>
