@use "src/mixins.scss" as s;

.mat-column-Naam {
  @include s.mat-text-column-wrap-stuff;
}

.mat-column-Leeftijd {
  @include s.mat-text-column-wrap-stuff;
  flex: 0 0 80px !important;
  width: 80px !important;
}

.cell {
  text-align: left;
  vertical-align: top;
}

// row van de drie tabellen, zonder dit komt er een grijze regel onder elke regel
tr.detail-row {
  height: 0;
}

.element-row td {
  border-bottom-width: 0;
}

// expanded detail
.element-detail {
  overflow: hidden;
  display: flex;
  padding-bottom: 10px;
}

th.mat-column-Naam {
  width: 10px;
}

th.mat-header-cell {
  width: 10px;
}

// omgekeerde kleuren ivm uitklap frame
.mat-row:nth-child(even) {
  background-color: #f5f5f5;
}
.mat-row:nth-child(odd) {
  background-color: white;
}

// voor het linkse overzicht
.cell-static {
  padding: 10px 0px 10px 40px !important;
}

// voor het linkse overzicht
.cell-header-static {
  padding: 10px 0px 10px 25px !important;
}

// De kleine copy buttons op de detailpag
.mat-icon-button {
  width: 16px;
  height: 16px;
  line-height: 16px;
  .mat-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
    line-height: 16px;
  }
}

// Voor de tabel met aantallen per leeftijd
table {
  width: 100%
}
