<div class="alternative">
  <mat-toolbar color="primary">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isLoggedIn">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span style="margin-left: 15px">TTV Nieuwegein</span>
    <span class="toolbar-spacer"></span>

    <button *ngIf="isLoggedIn" mat-button [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{name:userid}">
      <span style="font-size: 11pt">{{userid}}</span>
      <i class="fas fa-user my-icon-24"></i>
    </button>

    <button *ngIf="!isLoggedIn" mat-button (click)="openSigninDialog()">
      <span style="font-size: 11pt">Sign in</span>
      <i class="fas fa-user my-icon-24"></i>
    </button>

    <span class="mat-button-wrapper">
      <mat-menu #appMenu="matMenu">
        <ng-template matMenuContent let-name="name">
          <button mat-menu-item (click)="onConfig()">
            <i class="fas fa-cog my-icon-24"></i>
            <span>Settings</span>
          </button>
          <button mat-menu-item (click)="onNotification()">
            <i class="fas fa-bell my-icon-24"></i>
            <span>Meldingen</span>
          </button>
          <button mat-menu-item (click)="onSignOff()">
            <i class="fas fa-sign-out-alt my-icon-24"></i>
            <span>Sign off</span>
          </button>
        </ng-template>
      </mat-menu>
    </span>
  </mat-toolbar>
</div>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"  [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]='menuOpened'>
    <mat-nav-list>
      <a mat-list-item (click)="route('home')">Home</a>
      <a mat-list-item *ngIf="showRouteLeden" (click)="route(routeLeden)">Leden</a>
      <a mat-list-item *ngIf="showRouteLedenmanager" (click)="route(routeLedenmanager)">Leden manager</a>
      <a mat-list-item *ngIf="showRouteMail" (click)="route(routeMail)">Mail</a>
      <a mat-list-item *ngIf="showRouteAgenda" (click)="route(routeAgenda)">Agenda manager</a>
      <a mat-list-item *ngIf="showRouteWebsite" (click)="route(routeWebsite)">Website</a>
      <a mat-list-item *ngIf="showRouteLadder" (click)="route(routeLadder)">Ladder</a>
      <a mat-list-item *ngIf="showRouteMultiupdate" (click)="route(routeMultiupdate)">Multi Update</a>
      <a mat-list-item *ngIf="showRouteDownload" (click)="route(routeDownload)">Download</a>
      <a mat-list-item *ngIf="showRouteContrbedragen" (click)="route(routeContrbedragen)">Contributie</a>
      <a mat-list-item *ngIf="showRouteOudleden" (click)="route(routeOudleden)">Oud Leden</a>
      <a mat-list-item *ngIf="showRouteUsers" (click)="route(routeUsers)">Gebruikers</a>
      <a mat-list-item *ngIf="showRouteSyncNttb" (click)="route(routeSyncNttb)">Sync NTTB</a>
      <a mat-list-item *ngIf="showRouteTrainingDeelname" (click)="route(routeTrainingDeelname)">Deelname training</a>
      <a mat-list-item *ngIf="showRouteTrainingOverzicht" (click)="route(routeTrainingOverzicht)">Training overzicht</a>
      <a mat-list-item *ngIf="showRouteTest" (click)="route(routeTest)">Test</a>
  
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
