<p>
Beste %voornaam%,<br>
<br>
Welkom als nieuw lid bij TTVN. We hebben de volgende gegevens geregistreerd:<br>
<br>
<table style="width:100%;text-align: left;">
<tr><td style="width: 1px;white-space: nowrap;">Naam</td><td>: %volledigenaam%</td></tr>
<tr><td style="width: 1px;white-space: nowrap;">Adres</td><td>: %adres%, %postcode% %woonplaats%</td></tr>
<tr><td style="width: 1px;white-space: nowrap;">Telefoon mobiel</td><td>: %mobiel%, vast: %telefoon%</td></tr>
<tr><td style="width: 1px;white-space: nowrap;">E-Mail 1</td><td>: %email1%</td></tr>
<tr><td style="width: 1px;white-space: nowrap;">E-Mail 2</td><td>: %email2%</td></tr>
<tr><td style="width: 1px;white-space: nowrap;">Geslacht</td><td>: %geslacht%</td></tr>
<tr><td style="width: 1px;white-space: nowrap;">Geboortedatum</td><td>: %geboortedatum%</td></tr>
<tr><td style="width: 1px;white-space: nowrap;">Rekeningnummer</td><td>: %rekeningnummer%</td></tr>
<tr><td style="width: 1px;white-space: nowrap;">Incasso referentie</td><td>: %lidnr%</td></tr>
<tr><td style="width: 1px;white-space: nowrap;">Mag op foto</td><td>: %magopfoto%</td></tr>
</table>
<br>
TTVN incasseert twee keer per jaar de halfjaarlijkse contributie. Voorafgaand aan de incasso ontvang je de rekening via de mail. Als je vragen hebt over de contributie of andere zaken, aarzel dan niet om even te mailen.<br>
<br>
Met vriendelijke groet,<br>
Ledenadministratie TTVN<br>
</p>