
mat-drawer {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}

mat-drawer-container {
  height: 100%;
}

mat-drawer-content {
  padding: 20px;
}

.bg {
  /* The image used */
  background-image: url("./../../../assets/images/landing.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Full height */
  height: 100%;
  width: 100%;
  position: absolute;
  // z-index: -1;  Hiermee will de knoppen niet meer klikken
  clip-path: polygon(100% 0, 100% 82%, 45% 100%, 0 100%, 0 0);
  // filter: hue-rotate(30deg);
  // filter: blur(4px);
}

$padding: 15px;
$borders: 15px;

main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  section#card {
    background: #FBC02D;
    padding: 20px;
    margin: 5em auto 2em auto;
    border-radius: $borders;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 80%;
    text-align: center;
    p {
      font-size: smaller;
    }
  }
  section#primary {
    color: #fff;
    padding: $padding;
    text-align: center;
  }
  section#logo {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    color: red;
    z-index: 100;
  }
}
